
/target/

# Ignore desmoj output
*_debug.html
*_error.html
*_report.html
*_trace.html

# Ignore output of scylla
*_resourceutilization.txt
*.xes

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/output_*/*
/.idea/*
/target/
/samples/*.html
/.settings/
/.project
**/*.iml
lib/desmoj/desmoj/2.5.1/desmoj-2.5.1.jar
