{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "EMBEDED",
      "config" : {
        "users" : [ {
          "username" : "admin",
          "password" : "pwd",
          "roles" : [ "admin" ]
        }, {
          "username" : "support",
          "password" : "pwd",
          "roles" : [ "support" ]
        }, {
          "username" : "user",
          "password" : "pwd"
        } ]
      },
      "classPath" : [ ]
    },
    "icon" : null,
    "webFolder" : null,
    "langFolder" : "${webswing.rootDir}/lang",
    "homeDir" : "${user.dir}",
    "swingConfig" : null
  },
  "/scylla" : {
    "path" : "/scylla",
    "enabled" : true,
    "homeDir" : "${user.dir}",
    "webFolder" : "",
    "langFolder" : "",
    "icon" : null,
    "security" : {
      "module" : "NONE",
      "classPath" : [ ],
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : true,
      "autoLogout" : true,
      "name" : "Scylla",
      "theme" : "Murrine",
      "directdraw" : true,
      "javaFx" : false,
      "debug" : false,
      "userDir" : "${user.dir}\\sessions\\Scylla\\${clientId}\\",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : null,
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "args" : "${clientId}",
        "mainClass" : "de.hpi.bpt.scylla.GUI.ScyllaGUI"
      },
      "maxClients" : 5,
      "sessionMode" : "ALWAYS_NEW_SESSION",
      "swingSessionTimeout" : 0,
      "timeoutIfInactive" : false,
      "monitorEdtEnabled" : true,
      "allowStealSession" : true,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "uploadMaxSize" : 10,
      "allowJsLink" : true,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "fontConfig" : { },
      "classPathEntries" : [ "${user.dir}\\projects\\Scylla.jar" ],
      "allowedCorsOrigins" : [ ],
      "transparentFileOpen" : true,
      "transparentFileSave" : true,
      "transferDir" : "${user.dir}\\sessions\\Scylla\\${clientId}\\",
      "clearTransferDir" : true,
      "goodbyeUrl" : ""
    }
  }
}
